FormatVersion: 2.0.0
Version: 1.0.0
Name: Restart PostgreSql

Parameters:
  appName: $appName

Body: |
  return restart(args.appName).stdout

Scripts:
  restart:
    Type: Application
    Version: 1.0.0
    EntryPoint: restartDB.sh
    Files:
      - <common.sh>
    Options:
      captureStdout: true
      captureStderr: false
