FormatVersion: 2.0.0
Version: 1.0.0
Name: Start DEA

Parameters:
  NATS_ip: $NATS_ip

Body: |
  return deploy(args.NATS_ip).stdout

Scripts:
  deploy:
    Type: Application
    Version: 1.0.0
    EntryPoint: startDEA.sh
    Files:
      - <common.sh>
    Options:
      captureStdout: true
      captureStderr: false
